html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient( #e5f8ff, white);
}

.header {
  width: fill;
  height: 125px;
  border-bottom: solid #474747 .5px;
  flex-wrap: wrap;
  display: flex;
}

.pic1 {
  height: 115px;
  width: 115px;
  left: 10px;
  margin: auto;
  box-shadow: 5px 5px 5px;
}

.titlepic {
  height: 115px;
  background-color: transparent;
  position: absolute;
  justify-content: space-between;
}

.phrasething {
  position: absolute;
  margin-top: 65px;
  margin-left: 50%;
  font-weight: 700%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 185%;
  text-shadow: 5px 5px 5px;
  color: #504e4e;
  ;
}

.instagram {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 15px;
  justify-content: fill;
  
}

.instapic {
  height: 50px;
  width: 50px;
}

.instapic:hover {
  transform: scale(1.1)
}

.titlepic:hover {
  transform: scale(1.1);
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 125px;
}

.options {
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 115%;
  color: #504e4e;
  text-shadow: 1px 1px 1px;
}

.aboutus {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  position: relative;
  background-color: white;
  outline: solid black 3px;
  color: black;
  text-align: center;
  font-size: 125%;
}

.nonaboutus {
  display: none;
}

.contactus {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  position: relative;
  background-color: white;
  outline: solid black 3px;
  color: black;
  text-align: center;
  font-size: 125%;
}

.noncontactus {
  display: none;
  color: transparent;
}

.booknow {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  position: relative;
  background-color: white;
  outline: solid black 3px;
  color: black;
  text-align: center;
  font-size: 125%;
}

.nonbooknow {
  display: none;
}

.photogallary {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  position: relative;
  background-color: white;
  outline: solid black 3px;
  color: black;
  text-align: center;
  font-size: 125%;
  display: flex;
  flex-wrap: wrap;
}

.nonphotogallary {
  display: none;
}

.options:hover {
  color: black;
  transform: scale(1.2);
}

.slideshow-container {
  max-width: 40%;
  max-height: 25%;
  position: relative;
  margin: auto;
}

.noshowslideshow-container {
  display: none;
  max-width: 40%;
  max-height: 25%;
  position: relative;
  margin: auto;
}

.mySlides {
  margin-top: 10%;
  display: none;
  box-shadow: 5px 5px 5px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
}

.noneprev, nonnext {
  display: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover {
  background-color: black;
}

.prev:hover {  
  background-color: black;
}



.active, .dot:hover {
  background-color: black;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.opengoogle:hover {
  color: #de4f4f;
  font-size: 115%; 
}

.gallpic {
  max-width: 225px;
  max-height: 225px;
  justify-content: space-between;
  margin: auto;
}

@media only screen and (max-width: 500px) {

  .phrasething {
    display: none;
  }

  .slideshow-container {
    display: none;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }
}


